{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">
<head>
    {% include 'PA/head.html' %}
</head>
<body class="full-wrapper">
    <!-- ? Preloader Start -->
    {% include 'PA/PreloaderStart.html' %}
    <!-- Preloader Start-->
     <!-- header Start -->

    {% include 'PA/headerStart.html' %}
    <!-- header end -->
        <!--? Hero Area Start-->
    {% include 'PA/HeroAreaStart.html' %}
        <!-- End Hero -->
        <!--? Popular Items Start -->
    {% include 'PA/PopularItemsStart.html' %}
<!-- Popular Items End -->
<!--? New Arrival Start -->
    {% include 'PA/NewArrivalStart.html' %}
<!--? New Arrival End -->
<!--? collection -->
    {% include 'PA/collection.html' %}
<!-- End collection -->
<!--? Popular Locations Start 01-->
    {% include 'PA/PopularLocationsStart.html' %}
<!-- Popular Locations End -->
<!--? Services Area Start -->
    {% include 'PA/ServicesAreaStart.html' %}
<!--? Services Area End -->

 <!-- Footer Start-->
    {% include 'PA/FooterStart.html' %}
  <!-- Footer End-->
<!--? Search model Begin -->
    {% include 'PA/SearchmodelBegin.html' %}
<!-- Search model end -->
<!-- Scroll Up -->
    {% include 'PA/ScrollUp.html' %}

<!-- JS here -->
    {% include 'PA/JShere.html' %}

</body>
</html>