<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% for category in categorys %} Category ID: {{ category.id }} 
    <br/>
    Category Name: {{ category.CategoryName}} 
    <br />
    Category Date: {{ category.CategoryDate }} 
    <br />
    <hr />
    {% endfor %}
    <br />
    <br />
    {% for customer in customers %} Customer ID: {{ category.id }} 
    <br />
    Customer Name: {{ customer.name}} 
    <br />
    Customer Date: {{ customer.phone }} 
    <br />
    Customer Email: {{ customer.email}} 
    <br />
    <hr />
    {% endfor %}
  </body>
</html>
